<div class="container card1">
    <h2>Common Fields</h2>
    <form [formGroup]="commonfields">
   
    <div class="row">
      
        <div class="col">
            <mat-label>VPF</mat-label>
            <input id="vpf" class="input form-control" formControlName="vpf" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>FBF</mat-label>
            <input  id="fbf" class="input form-control" formControlName="fbf" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>NHIS</mat-label>
            <input id="nhis" class="input form-control" formControlName="nhis" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>SDF</mat-label>
            <input  id="sdf" class="input form-control" formControlName="sdf" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Convenience Advance(DAP)</mat-label>
            <input id="dap" class="input form-control" formControlName="dap" type="text" mat-input> 
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <mat-label>HBA</mat-label>
            <input id="hba" class="input form-control" formControlName="hba" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>EOE</mat-label>
            <input id="eoe" class="input form-control" formControlName="eoe" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Water Charges</mat-label>
            <input id="waterCharges" class="input form-control" formControlName="waterCharges" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>HRR</mat-label>
            <input id="hrr" class="input form-control" formControlName="hrr" type="text" mat-input> 
        </div>
        <div class="col">
  
        </div>
      
    </div>
   
  
  

    
</form>
<div class="row">
    <div class="col" style="text-align: center; margin-top: 10px;">
        <button class="submit">SUBMIT</button>
    </div>
</div>
</div>
<main></main>