
<div class="container card1">
    <h2>Employee</h2>
    <form [formGroup]="da">
<div class="row">
    <div class="col">
    <mat-label>Employee ID</mat-label>
    <input id="empId" class="input form-control" formControlName="empId" type="text" mat-input>
    </div>
    <div class="col-1" >
       <button style="margin-top: 10px;" class="fetch">fetch</button>
    </div>
    <div class="col">
        <mat-label>Employee Name</mat-label>
        <input id="empName" class="input form-control" formControlName="empName" type="text" mat-input> 
    </div>
    <div class="col">
        <mat-label>Designation Code</mat-label>
        <input id="designationCode" class="input form-control" formControlName="designationCode" type="text" mat-input> 
    </div>
    <div class="col">
        <mat-label>Designation Name</mat-label>
        <input id="designationName" class="input form-control" formControlName="designationName" type="text" mat-input>
    </div>
    <div class="col">
        <mat-label>Office Code</mat-label>
        <input id="officeCode" class="input form-control" formControlName="officeCode" type="text" mat-input>
    </div>
    <div class="col">
        <mat-label>Office Name</mat-label>
        <input id="officeName" class="input form-control" formControlName="officeName" type="text" mat-input>
    </div>
    
</div>
<div class="row">
    <div class="col">
        <mat-label>Date Of Joining</mat-label>
        <input id="joiningDate" class="input form-control" formControlName="joiningDate" type="text" mat-input>
    </div>
    <div class="col">
        <mat-label>BP</mat-label>
        <input id="bp" class="input form-control" formControlName="bp" type="text" mat-input> 
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row" formArrayName="rows">
    <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" class="row">
           <div class="col">
            <mat-label>Recoveries</mat-label>
            <input id="recoveries" class="input form-control" formControlName="recoveries" type="text" mat-input>
            </div>
         
            <div class="col">
                <mat-label>Total Demand</mat-label>
                <input id="totalDemand" class="input form-control" formControlName="totalDemand" type="text" mat-input> 
            </div>
            <div class="col">
                <mat-label>Per Month Demand</mat-label>
                <input id="monthDemand" class="input form-control" formControlName="monthDemand" type="text" mat-input> 
            </div>
            <div class="col">
                <mat-label>Date</mat-label>
                <input id="date" class="input form-control" formControlName="date" type="date" mat-input>
            </div>
            <div class="col">
                <mat-label>No Of Month</mat-label>
                <input id="noOfMonth" class="input form-control" formControlName="noOfMonth" type="text" mat-input>
            </div>
            <div class="col-2">
                <mat-label>No Of Monthly Balance</mat-label>
                <input id="monthlyBalance" class="input form-control" formControlName="monthlyBalance" type="text" mat-input>
            </div>
            <div class="col">
                <button class="addButton" mat-button color="primary" (click)="addPaymentRow()" *ngIf="i<1">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button  class="deleteButton" mat-icon-button color="warn" (click)="removePaymentRow(i)" *ngIf="i>0">
                    <mat-icon>delete</mat-icon>
                  </button>
            </div>
    </div>
</div>
    </form>
</div>
<div class="container">
    <div style="display: flex; margin-top: 20px;justify-content: center;">
        <section><button class="backbutton">BACK</button></section>
        <section><button class="submit" style="margin-left:10px">submit</button></section>
    </div>
</div>
<main></main>
