
main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.pensiondetails{
  margin-top: 40px;
font-size: 25px;
font-weight: bold;
color: #470A3C;
}



.backbutton{
    padding: 5px;
    background-color: #470A3C ;
    border-radius: 1rem;
    color:white;
}
.submit{
  padding: 5px;
  background-color: #470A3C ;
  border-radius: 1rem;
  color:white;
}
.input{
  padding:10px;
  border: none;
  background-color:#f3f3f9 ;
  border-radius: 10px;
  width: 100%;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}